__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
.git/
catboost_info/
noneed/
.github/


.env
.gitignore

sample.csv
*.ipynb

Dockerfile
.dockerignore
prophet_setup.py
compose.yaml
Dockerfile.tests
init.sql